/* El Messiri Regular 400 */
@font-face {
    font-family: "El Messiri";
    src: url("../fonts/ElMessiri-Regular.woff2") format("woff2"),
        url("../fonts/ElMessiri-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

/* El Messiri Medium 500 */
@font-face {
    font-family: "El Messiri";
    src: url("../fonts/ElMessiri-Medium.woff2") format("woff2"),
        url("../fonts/ElMessiri-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

/* El Messiri SemiBold 600 */
@font-face {
    font-family: "El Messiri";
    src: url("../fonts/ElMessiri-SemiBold.woff2") format("woff2"),
        url("../fonts/ElMessiri-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

/* El Messiri Bold 700 */
@font-face {
    font-family: "El Messiri";
    src: url("../fonts/ElMessiri-Bold.woff2") format("woff2"),
        url("../fonts/ElMessiri-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}



/* Raleway Regular 400 */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
        url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

/* Raleway Medium 500 */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
        url("../fonts/Raleway-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

/* Raleway SemiBold 600 */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
        url("../fonts/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

/* Raleway Bold 700 */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
        url("../fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}